<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SydJS &mdash; JavaScript in Sydney has a new home</title>
        <link type="text/css" rel="stylesheet" href="admin.css">
        <script type="text/javascript" src="admin.js"></script>
    </head>
    <body>
        <div class="password-section">
            <form id="speaker-{{n}}" class="password-form" action="admin" method="post">
                <input type="password" class="password-field" placeholder="What's the secret knock?">
            </form>
        </div>
    </body>
</html>
